<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_travel_planner.mapper.ActivityMapper">

    <insert id="insert" parameterType="com.ai_travel_planner.entity.Activity"
            useGeneratedKeys="true"
            keyProperty="activityId"
            keyColumn="activity_id">

        INSERT INTO activity (
            user_id,schedule_id, day,
            place,
            start_time,
            end_time,
            description
        ) VALUES (
                     #{userId},        #{scheduleId}, #{day},
                     #{place},
                     #{startTime},
                     #{endTime},
                     #{description}
                 )
    </insert>
    <select id="getActivityByDay" resultType="com.ai_travel_planner.entity.Activity">
        SELECT
            activity_id,
            schedule_id,
            user_id,
            place,
            description,
            start_time,
            end_time,
            day
        FROM
            activity
        WHERE
          -- 1. 匹配行程主键 ID
            schedule_id = #{schedule.scheduleId}
          AND
          -- 2. 匹配用户 ID
            user_id = #{schedule.userId}
          AND
          -- 3. 匹配行程中的天数
            day = #{day}
        ORDER BY
            -- 4. 按照开始时间顺序排列 (升序)
            start_time ASC
    </select>

</mapper>