<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_travel_planner.mapper.ScheduleMapper">

    <insert id="insert" parameterType="com.ai_travel_planner.entity.Schedule"
            useGeneratedKeys="true"
            keyProperty="scheduleId"
            keyColumn="schedule_id">

        INSERT INTO schedule (theme,
            user_id,
            day_number
        ) VALUES (
                  #{theme},
                     #{userId},
                     #{dayNumber}
                 )
    </insert>
    <select id="getLatestSchdule" resultType="com.ai_travel_planner.entity.Schedule"
            parameterType="java.lang.Long">
        SELECT
            -- 返回需要的字段
            schedule_id,
            theme,
            user_id,
            day_number
        -- 排除 created_time 和 updated_time
        FROM
            schedule
        WHERE
            user_id = #{userId}
        ORDER BY
            -- 关键：按更新时间倒序排列
            updated_time DESC
        LIMIT 1
    </select>

</mapper>